@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    40 St Helens Road<br />
    Harrogate, North Yorkshire<br />
    Phone: 07866399648
</address>

<address>
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/joe-hallas/">www.linkedin.com/in/joe-hallas/</a><br />
</address>

<address>
    <strong>Support:</strong>   <a href="joe.hallas@icloud.com">joe.hallas@icloud.com</a><br />
</address>